.env
.envvpn
.envtunnel
PORTS.md
settings.json
desktop_docker/**/


# Ignore all subdirectories in media_servicesdesktop_docker/resolv.conf

# Ignore all files in the folder except docker-compose.yml
**/*
!**/docker-compose.yml
